.body-color {
    background-color: bisque;
}

.shop-color {
    color: whitesmoke;
    background-color: black;
    text-align: center;
    font-size: 50px;
}

.def-color{
    font-family :fantasy;
    text-align: center;
    border: 1px solid black;
    background-image: url(./233b168661e296d0e1c5eca550d31096.jpg);
}

.ttt{
    height:100px;
    width:200px;
    border: 2px solid black;
    padding:20px;
    margin-bottom:100px;
    margin-right:40px;
}

.jjj{
    height:100px;
    width:200px;
    border: 2px solid black;
    padding:20px;
    margin-bottom:100px;
    margin-right:40px;
}

.lll{
    height:100px;
    width:200px;
    border: 2px solid black;
    padding:20px;
    margin-bottom:100px;
    margin-right:40px;
}

.uuu{
    height:100px;
    width:200px;
    border: 2px solid black;
    padding:20px;
    margin-bottom:100px;
    margin-right:40px;
}

.kkk{
    height:100px;
    width:200px;
    border: 2px solid black;
    padding:20px;
    margin-bottom:100px;
    margin-right:40px;
}

.nnn{
    height:100px;
    width:200px;
    border: 2px solid black;
    padding:20px;
    margin-bottom:100px;
    margin-right:40px;
}




